#!/bin/bash

# This has ensures the script runs only when the Brewfile changes:
# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
#
if command -v brew >/dev/null 2>&1; then
    echo "Installing homebrew packages..."
    brew bundle --global
else
    echo "Homebrew is not installed. Skipping package installation."
fi
